[Bb]uild/*
[Dd]ocs/*
CMakeCache.*
CMakeFiles/*
[Tt]esting/*
ebpf_code.h
vm-exten.btf
check
conformance_check
run_yaml
tests
gdb.py
test.txt
test.gdb
index.html*
dump*
### VisualStudioCode ###
.vscode/settings.json
.vscode/runtime.json

example/libffi/test
test/man
test/lib
test/bin
test/lib64
.test_log
test/share
bpftool
bpftoolx
a.out
documents/dlsym/dlsym
documents/elfoffset/myprogram
documents/elfoffset/*.txt
documents/elfoffset/maps
Catch2
libebpf.off.txt
test/pyvenv.cfg
ecli
documents/frida/hello
linux-git/
jitterbug
*.o

__pycache__
.cache
third_party/frida
third_party/phaole
third_party/phaole1
output_metrics.json
