/nginx_plugin_output
/nginx.pid
/error-log.txt
/access-log.txt
/logs
/fastcgi_temp
/proxy_temp
/scgi_temp
/uwsgi_temp
/client_body_temp
/benchmark/benchlog.txt
/benchmark/dynamic_load_plugin/libs/libfilter_impl.so
/benchmark/dynamic_load_plugin/libs/filter_impl.o