name: Build runtime

on:
  push:
    branches: "master"

jobs:
  build:
    runs-on: ubuntu-latest
    if: "!contains(github.event.head_commit.message, '[skip ci]') && !contains(github.event.head_commit.message, '[ci skip]')"
    strategy:
      matrix:
        target: [ x86_64-unknown-linux-gnu ]

    steps:
    - uses: actions/checkout@v3
      with:
        submodules: 'recursive'

    - name: install deps
      run: |
        sudo apt install -y --no-install-recommends \
        libelf1 libelf-dev zlib1g-dev make git libboost-dev \
        libboost-program-options-dev binutils-dev

    - name: build package
      run:  make build-old-binutils

    - name: test package
      run:  make test
